<h3>Heroe
  <small>nombre...</small>
</h3>
<hr>

<button class="btn btn-outline-danger" [routerLink]="['/heroes']">Regresar</button>

<button (click)="agregarNuevo(forma)"
        type="button"
        class="btn btn-outline-success">Nuevo héroe</button>
<br><br>

<div class="row  animated fadeIn fast">
  <div class="col-md-12">

    <!--#forma="Form"-->
    <form (submit)="guardar()" #forma="ngForm">

      <div class="form-group">
        <label>Nombre</label>
        <input [(ngModel)]="heroe.nombre"
               type="text"
               name="nombre"
               class="form-control"
               placeholder="nombre"
               required>
      </div>

      <div class="form-group">
        <label>Casa</label>
        <select class="form-control" [(ngModel)]="heroe.casa" name="casa">
          <option value="Marvel">Marvel</option>
          <option value="DC">DC</option>
        </select>
      </div>

      <div class="form-group">
        <label>Bio</label>
        <textarea  [(ngModel)]="heroe.bio" class="form-control" name="bio" cols="30" rows="2"></textarea>
      </div>


      <div class="form-group">
        <button [disabled]="!forma.valid"
                type="submit" class="btn btn-outline-primary">Guardar cambios</button>
      </div>

    </form>

    {{ forma.valid }}
    <hr>
    {{ id }}
    <pre>
      <!--{{ forma | json }}-->
    </pre>

    http://localhost:4200/heroe/nuevo
  </div>
</div>
